body{
    background-color: #2c2c2c;
}

th{
    color: white !important;
    background-color: #555555 !important;
}

tr{
    height: 40px !important;
}

td{
    color: white !important;
    font-size: small !important;
    background-color: #444444 !important;
}

li{
    color: white !important;
    background-color: #444444 !important;
    margin-bottom: 2px;
    border: white 1px solid;
    border-radius: 4px;
    padding: 5px;   
}

#selected-classes-container{
    height: fit-content;
    min-height: 100px;
    background-color: #333333 !important;
    border-radius: 4px;
    padding: 10px;
    margin: 4px;
}
#class-list{
    height: fit-content;
    background-color: #333333 !important;
    border-radius: 4px;
    padding: 10px;
    margin: 4px;
}
#calendar{
    background-color: #333333 !important;
    border-radius: 4px;
    padding: 10px;
    margin: 4px;
}