body{
    background-color: #2c2c2c;
    height: 100vh;
}

th{
    color: white !important;
    background-color: #555555 !important;
}

tr{
    height: 40px !important;
}

td{
    color: white !important;
    font-size: small !important;
    background-color: #444444 !important;
}

ul{
    gap: 5px;
}

li{
    color: white !important;
    background-color: #444444 !important;
    margin-bottom: 2px;
    border: white 1px solid;
    border-radius: 4px;
    padding: 5px;   
    box-shadow: 2px 2px 5px #000000;
}

li:hover{
    background-color: #555555 !important;
    box-shadow: 4px 4px 10px #000000;
    cursor: pointer;
}

#selected-classes-container{
    height: fit-content;
    min-height: 100px;
    background-color: #333333 !important;
    border-radius: 4px;
    padding: 10px;
    margin: 4px;
    border: #292929 5px solid;
}
#class-list{
    height: fit-content;
    background-color: #333333 !important;
    border-radius: 4px;
    padding: 10px;
    margin: 4px;
    border: #292929 5px solid;
}
#calendar{
    height: fit-content;
    background-color: #333333 !important;
    border-radius: 4px;
    padding: 10px;
    margin: 4px;
    border: #292929 5px solid;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}